{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% block css %} {% endblock %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/projetos.css' %}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/galeria.css' %}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/atributos.css' %}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/fontes.css' %}"
    />

    <link rel="stylesheet" href="{% static 'react/index.css' %}" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title></title>
  </head>
  <body>
    {% block header %} {% endblock %} {% block 'dashboard' %} {% endblock %}
    {%block footer%}
    <div id="menu-react" class="menu-react"></div>
    {% endblock %}

    <script type="module" src="{% static 'react/index.js' %}"></script>
  </body>
</html>
