{% extends "base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% block css %}
    <title>Projetos</title>
    {% endblock %}
  </head>

  <body>
    {% block 'dashboard' %}
    <div class="sideTopicos" id="sideMenu"></div>

    <div class="projetosContainer" id="projeto-{{ forloop.counter }}">
      <h1>Projetos</h1>

      {% for projeto in projetos %}
      <div class="projetoItem">
        {% if projeto.website %}
        <a href="{{ projeto.website }}" target="blank" class="linkProjeto">
          <h2>{{ projeto.nome }}</h2>
        </a>
        {% else %}
        <h2>{{ projeto.nome }}</h2>
        {% endif %}
        <h4>{{ projeto.descricao }}</h4>

        {% if projeto.imagens %}
        <img
          src="{% static 'img/' %}{{ projeto.imagens.0 }}"
          alt="Imagem de {{ projeto.nome }}"
          class="projetoImg"
        />

        <div class="imgContainer">
          {% for imagem in projeto.imagens %} {% if forloop.counter <= 5 %}
          <img
            src="{% static 'img/' %}{{ imagem }}"
            alt="Imagem de {{ projeto.nome }}"
            class="imgPequena"
          />
          {% endif %} {% endfor %}
        </div>
        {% else %}
        <p>Sem Imagens</p>
        {% endif %}

        <p>
          <img
            src="{% static 'img/icons/code.webp' %}"
            alt="Data"
            class="menuImagem tecnologias"
          />
          {{ projeto.tecnologias }}
        </p>
        <p>
          <img
            src="{% static 'img/icons/calendar.webp' %}"
            alt="Data"
            class="menuImagem"
          />
          {{ projeto.periodo }}
        </p>
        <p>Status: {{ projeto.status }}</p>
        <p>
          <img
            src="{% static 'img/icons/user.webp' %}"
            alt="Equipe"
            class="menuImagem"
          />
          {{ projeto.equipe }}
        </p>
        <div class="buttonContainer">
          {% if projeto.repo %}
          <a href="{{ projeto.repo }}" target="blank">
            <button class="homeButton">
              <img
                src="{% static 'img/icons/github.webp'%}"
                class="menuImagem"
                alt="GitHub"
              />
              <h2>GitHub</h2>
            </button>
          </a>
          {% endif %} {% if projeto.website %}
          <a href="{{ projeto.website }}" target="blank">
            <button class="homeButton">
              <img
                src="{% static 'img/icons/website.webp'%}"
                class="menuImagem"
                alt="Website"
              />
              <h2>Website</h2>
            </button>
          </a>
          {% endif %} {% if projeto.figma %}
          <a href="{{ projeto.figma }}" target="blank">
            <button class="homeButton">
              <img
                src="{% static 'img/icons/figma.webp'%}"
                class="menuImagem"
                alt="Figma"
              />
              <h2>Figma</h2>
            </button>
          </a>
          {% endif %}
        </div>
        <br />
        <br />
      </div>
      <br />
      {% empty %}
      <p>Não há projetos disponíveis.</p>
      {% endfor %}
    </div>

    <div id="overlay">
      <img id="zoomedImage" src="" alt="Zoomed Image" />
    </div>

    <script>
      window.addEventListener("load", function () {
        const projects = document.querySelectorAll(".projetoItem");
        const sideMenu = document.getElementById("sideMenu");
        const overlay = document.getElementById("overlay");
        const zoomedImage = document.getElementById("zoomedImage");

        projects.forEach((project) => {
          const mainImage = project.querySelector(".projetoImg");
          const projectName = project.querySelector("h2").innerText;
          const button = document.createElement("button");
          const thumbnails = project.querySelectorAll(".imgPequena");

          button.innerHTML = `<hr /> ${projectName}`;
          button.classList.add("sideElement");
          button.classList.add("s15");

          button.addEventListener("click", function () {
            project.scrollIntoView({ behavior: "smooth" });
          });

          sideMenu.appendChild(button);

          mainImage.onload = function () {
            const width = mainImage.naturalWidth;
            const height = mainImage.naturalHeight;

            if (width > height) {
              mainImage.style.width = "50rem";
              mainImage.style.height = "auto";
            } else {
              mainImage.style.height = "25rem";
              mainImage.style.width = "auto";
            }
          };

          if (mainImage.complete) {
            mainImage.onload();
          }

          thumbnails.forEach((thumbnail) => {
            const width = thumbnail.naturalWidth;
            const height = thumbnail.naturalHeight;

            if (width > height) {
              thumbnail.style.width = "8rem";
              thumbnail.style.height = "auto";
            } else {
              thumbnail.style.height = "5rem";
              thumbnail.style.width = "auto";
            }

            thumbnail.addEventListener("click", function () {
              thumbnails.forEach((img) => img.classList.remove("selectedImg"));

              mainImage.src = thumbnail.src;
              mainImage.alt = thumbnail.alt;

              thumbnail.classList.add("selectedImg");
            });
          });

          if (thumbnails.length > 0) {
            thumbnails[0].classList.add("selectedImg");
          }
        });

        document.querySelectorAll(".projetoImg").forEach((mainImage) => {
          mainImage.addEventListener("click", function () {
            zoomedImage.src = mainImage.src;
            zoomedImage.alt = mainImage.alt;
            overlay.classList.add("active");
          });
        });

        overlay.addEventListener("click", function () {
          overlay.classList.add("fade-out");

          setTimeout(() => {
            overlay.classList.remove("active", "fade-out");
          }, 300);
        });
      });
    </script>

    {% endblock %}
  </body>
</html>
